*{
	margin:0;
	padding:0;
}

html{
	background:white;
	
}

body{
	margin: 0px;
	padding: 0px;
	margin-left: 1%;
	margin-right: 1%;
}

p{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}
#corp p{
	color:gray;
	margin-bottom: 5px;
	padding: 0;
	font-size:12px;
	display:inline;
	margin-right:20%;
	margin-left:28%;
}

#corp img{
	margin-bottom:-10px;
	margin-left:20px;
}

.contact, .contact:hover{
	text-decoration: none;
	color:gray;
	font-size:12px;
	font-family: 'Montserrat';
}

.contact:hover{
	color:#0078BE;
}

header{
	margin: 0px;
	margin-left: -1%;
	padding: 0px;
	background:#0078BE;
	width:102%;
}

img{
	margin-top: -1px;
}

h2{
	float:left;
	color:white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 45px;
	margin-right: 5%;
	margin-left: 2%;
	margin-top: -10px;
	font-weight: lighter;
}

textarea{
	padding: 5px;
}

.logo{
	position:left;
	float:left;
}

.flows{
	text-align: center;
}


/*Strip the ul of padding and list styling*/
header ul {
	list-style-type:none;
}

/*Create a horizontal list with spacing*/
header li {
	display:inline-block;
	float: left;
	margin-right: 1px;
	padding-top:-3px;
}

/*Style for menu links*/
header li a {
	display:block;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	/*border:solid 1px;*/
	padding-left: 20px;
	padding-right: 20px;
	
	margin-right: 5px;
	font-size: 12px;
	padding-top:6px;
	border-radius: 20px;
	padding-bottom: -10px;
	text-decoration: none;
}

header li a:hover{
	background-image:linear-gradient(white, #0078BE);
	font-weight: bold;
	text-decoration: none;
}

.menuItems{
	border-radius: 10px;
	margin:10px;
	padding:10px;
	width:84%;
	height: 35px;
	margin-left: 0px;
	margin-top: 0px;
}

#menu{
	margin-left: 15%;
	margin-top: -5%;
}

.hidden li a{
	border: none;
	margin-left: 10px;
}

.flows2, .middleware2, .partner2, .component2, .environment2{
	background-image:linear-gradient(white, #0078BE);
}

.logout{
	/*margin-left:5%;*/
}










nav{
	float:left;
	width: 12%;
	height: 430px;
	padding: 5px;
	margin-left: 4px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 0px;
	border-radius:10px;
	border: 1px solid #0078BE;
	border-radius: 15px;
	margin-bottom: 86px;
}

.ulf{
	padding-top: 15px;
}

nav ul{
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

nav li{
	display: inline-block;
	height: 45px;
	padding: 0px;
	margin: 0px; 
	text-align: center;
	line-height: 40px;

}

nav li:hover{
	border-bottom: 1px solid #0078BE;
	background-image:linear-gradient(white, #BBD2E1);
}

nav li a,nav li a:hover {
	display: block;
	text-decoration: none;
	color: #5d5d5d;
	font: 11px 'Roboto+Condensed',Arial,sans-serif;
}

nav li{
	width: 100%;
	text-align: center;
}

.display_fl_comp{
	margin-left: 10px;
}

footer{
	color: #696969;
	font-size: 15px;
	line-height: 1.6;
	text-align: center;
	display:block;
	display: inline;
	width: 98%;
	padding-top:2px;
	margin-top: 0%;
	margin-bottom: 5px;
}

.footerSearch{
	position: absolute; 
	bottom: 0;
}

footer img{
	margin-bottom: -5px;
	padding-top: -5px;
}


a, a:visited {
	text-decoration:none;
	outline:none;
	padding-top: 15px;
	text-align: left;
	padding-left:15px;
}

a:hover{
	text-decoration:underline;
}


#add_c{
	margin-left: 38%;
	margin-top: 1%;
}

#add_fl{
	margin-left: 3%;
	margin-top: 3%;
	width: 14%;
}

#search{
	 background:url(../img/r2.png) no-repeat;
	 margin:0;
	 padding:0;
}


/*******************************/

.li_gest{
	display: inline-block;
	width: 17%;
	height: 40px;
	padding: 0px;
	margin: 0px; 
	text-align: center;
	line-height: 40px;
}

legend{
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color : white;
	border-radius : 5px;
	padding : 5px;
	color : #5d5d5d;
}

.label_div{
	font-family: 'Exo', sans-serif;
}

label{
	font: 12px/1 'Roboto+Condensed',Arial,sans-serif;
}

input{   
	position: relative;
	left : 10px;
	margin : 1%;
	width:60%;
	padding: 1%;
	border-radius:10px;
	border:1px solid #5d5d5d;
	font-size:12px;
}

input:focus{   
	outline: none !important;
    border:1px dashed #BBD2E1;
}

fieldset {
	background-color : white;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;				
	width: 40%;	
	border-radius: 20px;
	border:1px solid #0078BE;
	color : #5d5d5d;
}

input[type=submit]{
    margin-top: 2%;
	margin-bottom: 1%;
	width:19%;
	padding: 2px;
	border-radius:10px;
	border:1px solid #0078BE;
	color : #5d5d5d;
	background-color : white;
    margin-left: 36%;
    height: 27px;
    font: 13px/1 'Roboto+Condensed',Arial,sans-serif;
    font-weight: bold;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
	border:1px dashed #0078BE;
	font: 12px 'Roboto+Condensed',Arial,sans-serif;
}

input[type=submit]:hover{
	cursor:pointer;
}

input[type=number]{   
	position: relative;
	left : 10px;
	margin : 1%;
	width:40%;
	padding: 1%;
	border-radius:5px;
	border:1px solid #5d5d5d;
	font-size:13px;
	color : #5d5d5d;
}

input[type=number]:focus{   
	margin : 1%;
	width:50%;
	padding: 1%;
	border-radius:5px;
	color : #5d5d5d;
}

input[type=checkbox]{
	padding: 0;
	font-size: 13px;
	font-family: 'Exo', sans-serif;
}

#data1 , #data2 , #data3 , #data4 , #data5 , #data6 , #data7, #data8, #data9, #data10, #data11,#data12 , #data13 , #data14 , #data15 , #data16 , #data17, #data18, #data19, #data20, 
#data21, #data22 , #data23 , #data24 , #data25 , #data26 , #data27, #data28, #data29, #data30, #data31 , #data32 , #data33 , #data34 , #data35 , #data36 , #data37, #data38, #data39, #data40,
#data41 , #data42 , #data43 , #data44 , #data45 , #data46 , #data47, #data48, #data49, #data50,#data51 , #data52 , #data53 , #data54 , #data55 , #data56 , #data57, #data58, #data59, #data60,
#data61 , #data62 , #data63 , #data64 , #data65 , #data66 , #data67, #data68, #data69, #data70,#data71 , #data72, #data73 , #data74 , #data75 , #data76 , #data77, #data78, #data79, #data80,
#data81 , #data82 , #data83 , #data84 , #data85 , #data86 , #data87, #data88, #data89, #data90,#data91 , #data92 , #data93 , #data94 , #data95 , #data96 , #data97, #data98, #data99, #data100{
	display: none;
}

.searForm {
	display: block;
}

.searForm input[type=text]{
	margin-left: 1px;
	padding: 10px;
	width: 65%;
	height: 15px;
	font: 15px 'Roboto+Condensed',Arial,sans-serif;
	border-color:#0078BE;
}

.searForm input[type=submit]{
	 margin: 0;
	 padding: 0;
}

.searForm input[type=submit]:hover{
	background:url('s.png') no-repeat top left;
	margin: 0;
	padding: 0;
	cursor:pointer;
	color : white;
	background-color : #5d5d5d;
}

.div-ligne{
	margin : 0 1px 1px 1px;	
	padding:0 1px 1px 1px;
	margin-left : 16%;
}

.div-l{
	margin : 0 1px 1px 1px;	
	padding:0 1px 1px 1px;
	margin-left : 1%;
}

.div-g{
	display : inline-block;
	width : 10%;
}
.div-d{
	display : inline-block;
	width : 80%;
}

.div-dr{
	display : inline-block;
	width : 50%;
}

.div-q{
	border:2px dashed blue;
	margin:10px;
	margin-left:20px;
	margin-right:20px;
}

.fied {
	background-color : white;
	padding : 0px;
	margin-top : 2%;
	margin-bottom : 2%;				
	width: 90%;	
	border-radius: 20px;
	border:2px solid #5d5d5d;
}

.fied_result{
	background-color : white;
	padding : 0px;
	margin-top : 2%;
	margin-bottom : 2%;				
	width: 60%;	
	border-radius: 20px;
	border:2px solid #5d5d5d;
}

.div-d input[type=text]{
	width:90%;
	border-radius:10px;
	height: 10px;
	border:1px solid #0078BE;
	font-size:13px;
}

.div-d input[type=text]:focus{
	border:1px dashed #0078BE;
}

.div-d[type=submit]:hover{
	width:21%;
	padding: 1%;
	border-radius:5px;
	border:1px solid #5d5d5d;
	font-size:13px;
	cursor:pointer;
	color : #7ac9b7;
	background-color : #5d5d5d;
}


.div-dr input[type=text]{
	width:70%;
	border-radius:10px;
	height: 10px;
	font-size:13px;
	border-color:#0078BE;
}


.div-dr input[type=text]:focus{
	border:1px dashed #0078BE;
}

.div-droite input[type=text]:focus{
	border:1px dashed #0078BE;
}

input[type=text], input[type=password], input[type=email]{
	border-color:#0078BE;
}

#valid{
    margin-top: 2%;
	margin-bottom: 1%;
	width:10%;
	height:30px;
	padding: 2px;
	border-radius:5px;
	border:1px solid #5d5d5d;
	color: white;
	background-color : #5d5d5d;
	font-size:12px;
    margin-left: 40%;
}

#valid:hover{
    margin-top: 2%;
	margin-bottom: 1%;
	width:12%;
	height:33px;
	padding: 2px;
	border-radius:5px;
	border:1px solid #5d5d5d;
	color: white;
	background-color : #5d5d5d;
	font-size:13px;
    margin-left: 40%;
}

.Err_conex{
	background-color: red;
	width:40%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
	text-align: center;
}

#confir{
	margin-left: 0px;
	margin-top: 20px;
}

.confirm{
	border:1px solid #0078BE;
	width:30%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:10px;
	text-align: center;
}

.confirm p{
	font-family: 'Exo', sans-serif;
}

.Err_conex p{
	font:16px/1.3 'Segoe UI',Arial, sans-serif;
	color: white;
}

.ins_fait{
	width:40%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.ins_fait p{
	color: white;
}

.Verif_upMid{
	text-align: center;
	background-color: red;
	width:16%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
	position: fixed;
	top:20px;
	left: 215px;
}

.Verif{
	text-align: center;
	background-color: red;
	width:16%;
	padding : 1%;
	margin-bottom : 1%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.Error_upload{
	text-align: center;
	background-color: red;
	width:24%;
	padding : 1%;
	margin-top : 1%;
	margin-bottom : 2%;
	margin-left : 41%;

	border-radius:5px;
}

.Verif_update{
	text-align: center;
	background-color: red;
	width:16%;
	padding : 1%;
	margin-top : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}


.Verif p, .Verif_update p,.Error_upload p{
	color: white;
	font-size: 12px;
}

.must{
	text-align: center;
	background-color: red;
	width:20%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.must{
	color: white;
	font-size: 12px;
}

.Verif_upMid p{

}

.Etat_gestion{
	width:90%;
	padding : 1%;
	margin-top : 3%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;		
}

.display_fl_comp{
	width:97%;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : auto;
	margin-right : auto;	
	display: inline;	
}

.Liste_flcomp{
	width:45%;
	padding : 1%;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : auto;
	margin-right : auto;	
	display: inline;
}

.Liste_membre{
	float:left;
	margin-left : 4%;
}

select{
	width:70%;
	padding:5px;
	border-color:green;
	border-radius:5px;
	margin-left:10%;
}

.correction{
	/*background-color: red;*/
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.correction p{
	color: white;
}

.tout_juste{
	background-color: green;
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.tout_juste p{
	color: white;
}

.result{
	border: 2px;
	border-style: solid;
	border-color: green;
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.result p{
	color: black;
	font-size:20px;
}

#hello li{
	border: 2px solid #5d5d5d;
	border-radius: 20px;
	margin-right: 3px;
	position:relative;
	float: left;
	list-style: none;
}

#hello li a{
	color: #5d5d5d;
	display: block;
	font: 20px/1 'Roboto+Condensed',Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	/*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);*/
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
	border-radius: 20px
}



/********** Table style *************/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 100%;
  padding:5px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;
  background:#0078BE;
  border-bottom:2px solid white;
  border-left:2px solid white;
  border-right:2px solid white;
  
  font-size:15px;
  font-weight: 100;
  padding:10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:10px;
}
 
th:last-child {
  border-top-right-radius:10px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:14px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  
}
 
tr:hover td {
  background:#0078BE;
  color:#FFFFFF;
  border-top: 1px solid #37B9C3;
  border-bottom: 1px solid #0078BE;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#0078BE;
}

tr:last-child td:first-child {
  border-bottom-left-radius:10px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:10px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.line{
	background:#EBEBEB;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#manage{
	text-align: center;
	padding: 0;
	margin: 0;
}

.amanage{
	text-align: center;
	padding:0;
	margin-top:3px;
}

.amanage1{
	text-align: center;
	padding:0;
	padding-left: 2px;
	padding-right: 2px;
	margin-top:3px;
}

#man{
	margin:0;
	padding:0;
}

#man1{
	margin:0;
	padding:0;
	padding-left: 5px;
	padding-right: 5px;
}

.aff{
	display: inline;
	width: 100%;
}

.aff a img, .aff a span{
	position: relative;
	float:left;
	margin-bottom: 20px;
}

.aff a img{
	margin-top: -10px;
	padding-left: 5px;
}

.aff a span{
 	margin-top:-3px;
	padding-left: 10px;
}

#aff1{
	margin-right: 1px;
	margin-top:-10px;
}

#aff1 a{
	margin-top:-40px;
}

#aff2 a span, #aff2 a img, #aff3 a img{
	margin-top: -30px;
}

#aff3 a img{
	margin-top: -10px;
}

#aff2 a span{
	margin-top: -24px;
}


.aff a:hover{
	color: #0078BE;
}


.addEdit_BTN{
	display: inline;
	font-family: 'Exo', sans-serif;
}

.addEdit_BTN img{
	margin-top: -20px;
}



.addEdit_BTN #a5{
	float:left;
	margin-left: 20%;
	margin-right: -30%;
	color: #5d5d5d;
}

.addEdit_BTN #a6{
	float:left;
	margin-left: 32%;
	margin-right: -30%;
	color: #5d5d5d;
}

.addEdit_BTN #a1{
	float:left;
	margin-left: 32%;
	color: #5d5d5d;
}

#midBTN #a1{
	margin-left: 30%;
}

.addEdit_BTN #a3{
	float: left;
	margin-left: 3%;
	margin-right: auto;
	color: #5d5d5d;
}

.addEdit_BTN #a4{
	float: left;
	margin-left: auto;
	margin-right: auto;
	color: #5d5d5d;
	font-size: 12px;
}
.addEdit_BTN #a3{
	float: left;
	margin-left: 3%;
	margin-right: auto;
	color: #5d5d5d;
}
.addEdit_BTN #a2{
	float: left;
	margin-left: 3%;
	color: #5d5d5d;
}

.addEdit_BTN #a1:hover, .addEdit_BTN #a2:hover, .addEdit_BTN #a3:hover, .addEdit_BTN #a4:hover, .addEdit_BTN #a5:hover, .addEdit_BTN #a6:hover{
	text-decoration: none;
	color: #0078BE;
}

.table_add td{
	text-align:center; 
    vertical-align:middle;
}

.table_add select, .table_add textarea, .table_add input[type=text]{
	width: 80%;
	border:none;
	background-color: none;
	margin-right: auto;
	margin-left: auto;
}

.table_add select{
	width:50%;
}

.table_add textarea{
	border-radius: 15px;
}

.table_add textarea:focus , .table_add select:focus{
	outline: none;
}

.add_field, .add_midd{
	margin-bottom:-5px;
	margin-top: 0px;
	height: auto;
}

.add_field input[type="text"], .add_field textarea, .add_field select,
.add_midd input[type="text"], .add_midd textarea, .add_midd select{
	border:1px solid #0078BE;
}

.add_field textarea , .add_midd textarea{
	border-radius: 10px;
	margin-left: 15px;
}

#add_midd_Env{
	width: 90%;
	height: auto;
}


.add_midd textarea , .add_midd input[type="text"]{
	border-radius: 8px;
}

#add_flow{
	width: 80%;
	height: auto;
}

#add_flow table{
	width: 100%;

}

#add_flow table input[type="text"], #add_flow table input[type="text"]:focus{
	margin-left:-20px;
	height: 30px;
	width: 95%;
	font-size: 12px;
}

#add_flow input[type="checkbox"], #add_flow span{
	margin-left:-250px;
}

#add_flow span{
	font-family: 'Exo', sans-serif;
	margin-left:-280px;

}

#search_flow{
	width: 97%;
	height: auto;
	border-color: white;
	margin-top:0px;
}

#search_flow table {
	width: 100%;
	height: auto;
	padding-left: 0;
	
}

#search_flow th {
	margin-left:0;
	
}

#search_flow input[type="text"]{
	width: 63%;
	height: 18px;
	border-radius: 5px;
	margin-right: 0;
	margin-left:-5px;
}

#search_flow input[type="submit"]{
	width: 100%;
	margin-top:4px;
	margin-left: -10px;
	border-radius: 5px;
	padding-right: 10px;
	background-image:url("../img/r2.png");
	background-position: center; 
	border:none;
}

#search_flow_member{
	width: 98%;
	height: auto;
	border-color: white;
	margin-top:2px;
	margin-right: 0;
}

#search_flow_member table {
	width: 100%;
	height: auto;
	padding-left: 0;
	
}

#search_flow_member input[type="text"]{
	width: 63%;
	height: 18px;
	border-radius: 5px;
	margin-right: 0;
	margin-left:-5px;
}

#search_flow_member input[type="submit"]{
	width: 100%;
	margin-top:4px;
	margin-left: -10px;
	border-radius: 5px;
	padding-right: 10px;
	background-image:url("../img/r2.png");
	border:none;
}

#edit{
	margin-top:15px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/p.png");
	border:none;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}

#delete{
	margin-top:15px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/tr21.png");
	border:none;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}

#open{
	margin-top:15px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/open2.png");
	border:none;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}
	

.search_bt{
	padding: 8px;
	border-radius:10px;
	border:1px solid #0078BE;
	color : #5d5d5d;
	background-color : white;
    margin-left: 38%;
    font: 13px/1 'Roboto+Condensed',Arial,sans-serif;
    font-weight: bold;
    padding-right:20px;
    margin-top:10px;
}

hr{
	 border-top: 1px solid #0078BE;
	 margin-bottom: 30px;
}
.search_bt img{
	margin-top: 10px;
	padding-bottom:-10px;
	padding-left: 10px;
}

.search_bt span{
 	margin-top:-30px;
	padding-left: 10px;
}

.search_bt, .search_bt:hover{
	text-decoration: none;
	outline:none;
}

/**************** AUTOCOMP*****************/
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_container {
	height: 30px;
	float: left;
}
.input_container input[type="text"] {
	height: 20px;
	width: 200px;
	padding: 3px;
}
.input_container ul {
	width: 206px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #eaeaea;
	cursor: pointer;
}
#mid_list_id{
	display: none;
	margin-bottom: 3%;
}

.fiel_search{
	margin-top: 0;
}

.auto, .auto:hover{
	border: none;
	color:black;
	background-color: white;
	border: none;
}

.auto li{
	list-style-type: none;
	cursor: pointer;
}

.autoline:hover > td{
	color:black;
	background-color: white;
	border: none;
}

.autoline li{
	font-weight:300;
	font-size:14px;
	color:#666B85;
}

.Err_flows{
	text-align: center;
	background-color: red;
	width:24%;
	padding : 1%;
	margin-top : 1%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.Err_flows2{
	text-align: center;
	background-color: red;
	width:40%;
	padding : 1%;
	margin-top : 1%;
	margin-bottom : 5%;
	margin-left : 35%;
	margin-right : auto;
	border-radius:5px;
	color: white;
	font-size: 12px;
	margin-bottom: 1%;
}

.Err_flows{
	color: white;
	font-size: 12px;
}

.aBtn, .aBtn:focus, .aBtn:hover{
	margin:0;
	padding:0;
	border: none;
}

.pagination{
	max-width: 60%;
	outline: none;
	margin-left: 25%;
}

/* Upload file */

#filedrag{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #5d5d5d;
	border-radius: 7px;
	cursor: default;
	height: 100px;
}

#filedrag p{
	font-size: 14px;
	margin-top:17%;
}

#filedrag.hover{
	color: #0078BE;
	border-color: #0078BE;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#upload{ 
    width:250px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#uploadField{
	border-radius:5px;
	border: solid 1px;
	border-color: #0078BE;
    width:300px;
    padding:30px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

#uploadField span{
	font-size: 15px;
}

#upload input[type="submit"]{
	width: 100px;
}


.input-file-container { position: relative;width: 100px;margin-left: 30%;text-align: center;}
.input-file-trigger {display: block;padding: 8px;background: #0078BE;color: #fff;font-size: 12px;transition: all .4s;cursor: pointer;border-radius: 10px; border: solid 1px #0078BE; }
.input-file {position: absolute;top: 0; left: 0;width: 225px; padding: 5px 0;  opacity: 0; cursor: pointer; width: 100px;} 
/* quelques styles d'interactions */
.input-file:hover + .input-file-trigger,. .input-file:focus + .input-file-trigger, .input-file-trigger:hover, .input-file-trigger:focus {background: #0078BE;color: #fff;}
/* styles du retour visuel */
.file-return { margin: 0;}
.file-return:not(:empty) { margin: 1em 0; }
.file-return { font-style: italic; font-size: .9em; font-weight: bold; }
/* on complète l'information d'un contenu textuel uniquement lorsque le paragraphe n'est pas vide */
.file-return:not(:empty):before {content: "Selected file: "; font-style: normal;font-weight: normal;}


#textInput input[type="text"]{
	width:85%;
}

.recherche{
	font-size:25px;
	color:#666B85;
	font-weight: bold;
	margin-left: 3%;
	font-family: 'Exo', sans-serif;
}

